**/jobInfo.properties
TalendWorkspace/.JETEmitters/
TalendWorkspace/.Java/
TalendWorkspace/.metadata/
TalendWorkspace/*/code/routines/system/*.*
TalendWorkspace/*/temp/
TalendWorkspace/*/sqlPatterns/
TalendWorkspace/*/talend.project